ANTHROPIC_API_KEY=your_anthropic_api_key_here
APPLE_ADS_CLIENT_ID=your_apple_ads_client_id_here
APPLE_ADS_TEAM_ID=your_apple_ads_team_id_here
APPLE_ADS_KEY_ID=your_apple_ads_key_id_here
APPLE_ADS_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----"
