# Environments
.env
.venv
env/
venv/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
.eggs/
*.egg-info/
*.egg

# Database & Data files
data/
*.sqlite3
*.db
*.db-shm
*.db-wal

# IDE / OS
.vscode/
.idea/
.DS_Store
